<!DOCTYPE html>
<html>

<body>

    <h1>CHUYỂN KHOẢN</h1>

    <form action="">
        <label for="tkgui">Tài khoản gửi: </label>
        <input type="text" id="tkgui" name="tkgui"><br><br>
        <label for="tknhan">Tài khoản nhận: </label>
        <input type="text" id="tknhan" name="tknhan"><br><br>
        <label for="sotien">Số tiền: </label>
        <input type="text" id="sotien" name="sotien"><br><br>
        <input type="submit" value="Chuyển khoản">
    </form>

    <p>Trạng thái</p>

</body>

</html>