<form class="ui large form segment">
  <h3 class="ui header">Truy vấn thông tin Khách Hàng</h3>

  <div class="field">
    <label for="CIF">Số CIF:</label>
    <input name="CIF" id="CIF" #CIF>
  </div>
  <div class="field">
    <label for="Name">ID Khách Hàng:</label>
    <h5>{{resultAccount?.id}}</h5>
  </div>
  <div class="field">
    <label for="Balance">Số Dư:</label>
    <h5>{{resultAccount?.balance}}</h5>
  </div>
  <button (click)="queryAccount(CIF)"
  class="ui positive right floated button">
  Hiển thị thông tin
  </button>
</form>
