<form class="ui large form segment">
<div class="col-md-6 offset-md-3">
    <h3 class="ui header"> Tạo tài khoản </h3>
    
        <div class="field">
            <label> Account No </label>
            <input type="text" class ="form-control" id = "accountNo"
                 name = "accountNo">
        </div>
    
        <div class="field">
            <label> Account Name</label>
            <input type="text" class ="form-control" id = "accountName"
                name = "accountName">
        </div>
    
        <div class="field">
            <label> Balance</label>
            <input type="text" class ="form-control" id = "balance"
                name = "balance">
        </div>
    
        <button class="ui positive right floated button" name = "btn-success" type ="submit">Submit</button>
    </div> 
</form>