<p>create-account works!</p>
<div class="col-md-6 offset-md-3">
    <h3> Create Account </h3>
    <form = "onSubmit()">
    
        <div class="form-group">
            <label> Account No </label>
            <input type="text" class ="form-control" id = "accountNo"
                 name = "accountNo">
        </div>
    
        <div class="form-group">
            <label> Account Name</label>
            <input type="text" class ="form-control" id = "accountName"
                name = "accountName">
        </div>
    
        <div class="form-group">
            <label> Balance</label>
            <input type="text" class ="form-control" id = "balance"
                name = "balance">
        </div>
    
        <button class="button" name = "btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 